.list-countries-container {
  width: 100%;
  background-color: #1f1f2f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #94a3b8;
  padding: 3px 20px;
}

.country-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
}

.visited-text {
  color: #cbd5e1;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  padding-right: 8px;
}

.visit-btn {
  background-color: #3b82f6;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border: 0 solid grey;
  border-radius: 4px;
  padding: 6px 14px;
  cursor: pointer;
}
